*{
    font-family: inter;
    margin: 10px;
    font-weight: 700;
}
header{
    border: 1px solid black;
    padding: 10px;
}

main{
    
    margin: 10px;
    padding-bottom: 25px;
}

footer > .head{
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}

a{
    color: black;
}

main > .image{
    margin-left: 0px;  
}

ol{
    margin-left: -20px;
}

